.bigger_text {
  font-size:300%;
  text-align:center;
} 
.smaller_text { font-size:150%; }
.bubble {
  border-style:dotted;
    border-width: 5px;
  border-color:pink;
  width:40%;
  font-size: 200%; 
  padding-top: 25px;
    padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  margin-left: 15px
}
.right
{
  float: right;
}
