.bigger_text {
  font-size:300%;
  text-align:center;
} 
.smaller_text { font-size:150%; }
.bubble {
  border-style:dotted;
    border-width: 5px;
  border-color:pink;
  width:40%;
  font-size: 200%; 
  padding-top: 50px;
    padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
